@model List<Category>

<div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Category List</h2>
        <a href="@Url.Action("Create", "Category")" class="btn btn-primary">Create Category</a>
    </div>
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objectList in Model)
            {
                <tr>
                    <td>@objectList.Name</td>
                    <td>@objectList.DisplayOrder</td>
                    <td>
                        <div class ="w-75 btn-group" role="group" >
                             <a asp-controller="Category" asp-action="Edit" asp-route-Id ="@objectList.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil"></i> Edit
                             </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-Id="@objectList.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
